/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    --max-width: 1170px;
    --fixed-width: 450px;
    --clr-orange-1: hsl(12, 83%, 98%);
    --clr-orange-2: hsl(14, 91%, 95%);
    --clr-orange-3: hsl(12, 89%, 89%);
    --clr-orange-4: hsl(13, 87%, 82%);
    --clr-orange-5: hsl(13, 88%, 68%);
    --clr-orange-6: hsl(13, 88%, 55%);
    --clr-orange-7: hsl(13, 74%, 49%);
    --clr-orange-8: hsl(13, 74%, 33%);
    --clr-orange-9: hsl(13, 73%, 25%);
    --clr-orange-10: hsl(13, 73%, 16%);
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/*  global classes */


/* section */

.section,
.container {
    width: 98.69vw;
    margin: 0 auto;
    /* max-width: var(--max-width); */
}

@media screen and (min-width: 992px) {
    .section {
        width: 95vw;
    }
}

.container {
    text-align: center;
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    background: #333;
    color: var(--clr-white);
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: var(--spacing);
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    background: var(--clr-primary-1);
    color: var(--clr-primary-5);
}

.item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: var(--fixed-width);
    margin: 2rem auto;
    align-items: center;
    border-radius: var(--radius);
}

.item button,
.item a {
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    letter-spacing: var(--spacing);
    cursor: pointer;
}

.item {
    padding: 1rem 2rem;
}

.item h4 {
    margin-bottom: 0;
}

.item p {
    margin-bottom: 0;
}

.modal {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--clr-white);
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: var(--radius);
    text-transform: capitalize;
}

.modal p {
    margin-bottom: 0;
    color: var(--clr-red-dark);
}

.form {
    background: wheat;
    max-width: var(--fixed-width);
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem 2rem;
    border-radius: var(--radius);
    align-items: center;
}

.form input {
    background: cornsilk;
    border-color: transparent;
    border-radius: var(--radius);
    padding: .5rem 0.5rem;
    margin-bottom: .5rem;
}

.form-control {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.form button {
    margin-top: 1rem;
    background: cadetblue;
    color: black;
    padding: .4rem .4rem;
    border-radius: var(--radius);
    cursor: pointer;
}

.nav-links {
    max-width: var(--fixed-width);
    margin: 0 auto;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav-links a {
    color: var(--clr-grey-5);
}

.users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 3rem auto;
}

.users li {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--clr-white);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    text-align: left;
}

.users img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.users h4 {
    margin-bottom: 0.15rem;
}

.users a {
    color: var(--clr-grey-5);
    text-transform: capitalize;
}

.products {
    margin: 4rem 0;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 576px) {
    .products {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.product {
    background: var(--clr-white);
    border-radius: var(--radius);
}

.product img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.product h4 {
    margin-top: 1rem;
}

.product button {
    margin-bottom: 1rem;
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    border-color: transparent;
    color: var(--clr-white);
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
}


/* card*/

.container .card {
    position: relative;
    cursor: pointer;
    margin: 2rem;
}

.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(10px);
}

.container .card:hover .face.face1 {
    background: #75D13B;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content img {
    width: 200px;
    height: 150px;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-20px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 2px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}


/* more cards */

.Card1 {
    position: relative;
    background: #fff;
    margin: 1em;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    border-radius: 3px;
    height: 300px;
    max-width: 600px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.Card1 .photo {
    position: relative;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    float: left;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('//cs622417.vk.me/v622417615/22834/TjQkcWj1sb4.jpg');
}

.Card1:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
    -moz-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    -o-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

.Card1 .details {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    list-style: none;
    margin: 0px;
    padding: 1em;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    width: 40%;
}

.Card1:hover .details {
    left: 0px;
}

.Card1:hover .details li {
    padding: 0.1em;
}

.Card1 .description {
    padding: 1em;
    position: relative;
    float: right;
    height: 100%;
    width: 60%;
    z-index: 0;
}

.Card1 .description:before {
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    transform: skewX(-5deg);
}

.Card1 .description h1 {
    font-size: 2em;
    padding: 0.5em 0px;
    font-weight: bold;
}

.Card1 .description .line {
    display: block;
    height: 5em;
}

.Card1 .description .product_name {
    float: left;
}

.Card1 .description .product_price {
    float: right;
    color: #4cbc32;
}

.Card1 .description h2 {
    color: #9b9b9b;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

.Card1 .description p {
    position: relative;
    padding: 2em 0px 1em 0.5em;
}

.Card1 .description p:after {
    content: "";
    background: #75D13B;
    height: 6px;
    width: 5em;
    position: absolute;
    top: 0.6em;
    left: 0px;
}

.Card1 .description a {
    color: #75D13B;
    margin-bottom: 1em;
    position: absolute;
    right: 1em;
    bottom: 0em;
}

.Card1 .description a:after {
    content: ">";
    margin-left: -10px;
    opacity: 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card1 .description a:hover:after {
    margin-left: 5px;
    opacity: 1;
}


/* --- Card2 ---- */

.Card2 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 1em;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2.ph1 {
    background: url('//cs622627.vk.me/v622627615/26cdb/sBCCzAw79Cw.jpg') center no-repeat;
    background-size: cover;
}

.Card2.ph2 {
    background: url('//cs622627.vk.me/v622627615/26ce5/L2xeil9_uqg.jpg') center no-repeat;
    background-size: cover;
}

.Card2 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1em;
    top: 0;
    z-index: 10;
    color: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 .overlay h2 {
    position: relative;
    margin: 2em 0px;
    top: -200px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 .overlay a {
    position: relative;
    width: 60%;
    top: 200px;
    padding: 0.5em 2em;
    border: 2px solid #fff;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 3px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 a:hover {
    background: #fff;
    color: #5c5c5c;
}

.Card2:hover .overlay {
    background: rgba(92, 92, 92, 0.8);
}

.Card2:hover h2 {
    top: 0px;
}

.Card2:hover a {
    top: 0px;
}


/* --- Card3 ---- */

.Card3 {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 3em 1em;
    overflow: hidden;
    background: #000;
    box-shadow: rgba(6, 33, 63, 0.129412) 0px 1px 2px 0px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3:hover img {
    top: 30%;
    opacity: 0.5;
}

.Card3 .overlay {
    position: absolute;
    bottom: calc(-80% + 50px);
    left: 0px;
    width: 100%;
    height: 80%;
    background: #FFF;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3:hover .overlay {
    bottom: 0px;
}

.Card3 .overlay .line {
    width: 100%;
    text-align: left;
    line-height: 50px;
    padding: 0em 1em;
}

.Card3 .overlay .content {
    text-align: left;
    padding: 1em;
}

@media screen and (max-width: 700px) {
    /* --- Card1 ---- */
    .Card1 {
        max-width: 100%;
        height: 400px;
        height: auto;
    }
    .Card1 .photo {
        float: none;
        height: 400px;
        width: 100%;
    }
    .Card1:hover .photo {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .Card1:hover .details {
        left: -100%;
    }
    .Card1 .description {
        float: inherit;
        width: 100%;
    }
    .Card1 .description p {
        margin-bottom: 1em;
    }
    /* --- Card2 ---- */
    .Card2 {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        margin: 3em 0em;
        border-radius: 0px;
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: all .4s ease;
    }
    /* --- Card3 ---- */
    .Card3 {
        width: 100%;
        height: auto;
        margin: 1em 0em;
    }
    .Card3:hover img {
        top: 30%;
        opacity: 0.5;
    }
    .Card3 .overlay {
        position: relative;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 200px;
    }
    .Card3 img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .Card3:hover .overlay {
        bottom: 0px;
    }
    .Card3:hover img {
        top: 50%;
        opacity: 1;
    }
}