.Card1 {
    position: relative;
    background: #fff;
    margin: 1em;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    font-size: 14px;
    border-radius: 3px;
    height: 300px;
    max-width: 600px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

.Card1 .photo {
    position: relative;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    float: left;
    height: 100%;
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('//cs622417.vk.me/v622417615/22834/TjQkcWj1sb4.jpg');
}

.Card1:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
    -moz-transform: rotate(5deg) scale(1.3);
    -ms-transform: rotate(5deg) scale(1.3);
    -o-transform: rotate(5deg) scale(1.3);
    transform: rotate(5deg) scale(1.3);
}

.Card1 .details {
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    list-style: none;
    margin: 0px;
    padding: 1em;
    height: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    width: 40%;
}

.Card1:hover .details {
    left: 0px;
}

.Card1:hover .details li {
    padding: 0.1em;
}

.Card1 .description {
    padding: 1em;
    position: relative;
    float: right;
    height: 100%;
    width: 60%;
    z-index: 0;
}

.Card1 .description:before {
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    -webkit-transform: skewX(-5deg);
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -o-transform: skewX(-5deg);
    transform: skewX(-5deg);
}

.Card1 .description h1 {
    font-size: 2em;
    padding: 0.5em 0px;
    font-weight: bold;
}

.Card1 .description .line {
    display: block;
    height: 5em;
}

.Card1 .description .product_name {
    float: left;
}

.Card1 .description .product_price {
    float: right;
    color: #4cbc32;
}

.Card1 .description h2 {
    color: #9b9b9b;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
}

.Card1 .description p {
    position: relative;
    padding: 2em 0px 1em 0.5em;
}

.Card1 .description p:after {
    content: "";
    background: #75D13B;
    height: 6px;
    width: 5em;
    position: absolute;
    top: 0.6em;
    left: 0px;
}

.Card1 .description a {
    color: #75D13B;
    margin-bottom: 1em;
    position: absolute;
    right: 1em;
    bottom: 0em;
}

.Card1 .description a:after {
    content: ">";
    margin-left: -10px;
    opacity: 0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card1 .description a:hover:after {
    margin-left: 5px;
    opacity: 1;
}


/* --- Card2 ---- */

.Card2 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 1em;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2.ph1 {
    background: url('//cs622627.vk.me/v622627615/26cdb/sBCCzAw79Cw.jpg') center no-repeat;
    background-size: cover;
}

.Card2.ph2 {
    background: url('//cs622627.vk.me/v622627615/26ce5/L2xeil9_uqg.jpg') center no-repeat;
    background-size: cover;
}

.Card2 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1em;
    top: 0;
    z-index: 10;
    color: #fff;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 .overlay h2 {
    position: relative;
    margin: 2em 0px;
    top: -200px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 .overlay a {
    position: relative;
    width: 60%;
    top: 200px;
    padding: 0.5em 2em;
    border: 2px solid #fff;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 3px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card2 a:hover {
    background: #fff;
    color: #5c5c5c;
}

.Card2:hover .overlay {
    background: rgba(92, 92, 92, 0.8);
}

.Card2:hover h2 {
    top: 0px;
}

.Card2:hover a {
    top: 0px;
}


/* --- Card3 ---- */

.Card3 {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 400px;
    margin: 3em 1em;
    overflow: hidden;
    background: #000;
    box-shadow: rgba(6, 33, 63, 0.129412) 0px 1px 2px 0px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3:hover img {
    top: 30%;
    opacity: 0.5;
}

.Card3 .overlay {
    position: absolute;
    bottom: calc(-80% + 50px);
    left: 0px;
    width: 100%;
    height: 80%;
    background: #FFF;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.Card3:hover .overlay {
    bottom: 0px;
}

.Card3 .overlay .line {
    width: 100%;
    text-align: left;
    line-height: 50px;
    padding: 0em 1em;
}

.Card3 .overlay .content {
    text-align: left;
    padding: 1em;
}

@media screen and (max-width: 700px) {
    /* --- Card1 ---- */
    .Card1 {
        max-width: 100%;
        height: 400px;
        height: auto;
    }
    .Card1 .photo {
        float: none;
        height: 400px;
        width: 100%;
    }
    .Card1:hover .photo {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .Card1:hover .details {
        left: -100%;
    }
    .Card1 .description {
        float: inherit;
        width: 100%;
    }
    .Card1 .description p {
        margin-bottom: 1em;
    }
    /* --- Card2 ---- */
    .Card2 {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        margin: 3em 0em;
        border-radius: 0px;
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: all .4s ease;
    }
    /* --- Card3 ---- */
    .Card3 {
        width: 100%;
        height: auto;
        margin: 1em 0em;
    }
    .Card3:hover img {
        top: 30%;
        opacity: 0.5;
    }
    .Card3 .overlay {
        position: relative;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 200px;
    }
    .Card3 img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .Card3:hover .overlay {
        bottom: 0px;
    }
    .Card3:hover img {
        top: 50%;
        opacity: 1;
    }
}